@mixin heading {
  font-weight: 400;
  font-size: 2.5rem;
  color: var(--clr-primary);
  margin-bottom: 1rem;
  width: 100%;
}

@mixin sub-heading {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--clr-primary);
}

@mixin special-text {
  color: var(--clr-secondary);
  font-weight: 500;
}
