:root {
  /* Colors */
  --clr-primary: #b22727;
  --clr-secondary: #963f04;
  --clr-accent: #f8cb2e;
  --clr-text: #ecdfe1;
  --clr-background: #100a0b;
  --clr-border: #ecdfe1;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--clr-text);
  background-color: var(--clr-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
a {
  color: var(--clr-text);

  &:hover {
    color: var(--clr-primary);
  }
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

section {
  min-height: 93vh !important;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-text: #201315;
    --clr-background: #fffaee;

    color: var(--clr-text);
    background-color: var(--clr-background);

  }
  a {
    color: var(--clr-text);

    &:hover {
      color: var(--clr-primary);
    }
  }
  // button {
  //   background-color: #f9f9f9;
  // }
}
